{% load static %}
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
  	<div class="s012">
      <div class="form">
        <div class="home_btn">
          <a href="/">Home</a>
        </div>
		{% if successfulInsert %}
			<h3>Review successfully inserted</h3>
			{% if createUser %}
				<h4>User successfully created</h4>
			{% endif %}
		{% else %}
			<h3>Review has not been inserted</h3>
		{% endif %}
        <div class="poi">
			<!-- Userid: {{userid}}<br> -->
			<p><b>Name</b>: {{username}}<br>
			<b>Stars</b>: {{stars}}<br>
			<b>Review</b>: {{review}}<br></p>
			
			<form action="/user" method="get">
	          <input type="hidden" name="userid" value="{{userid}}">
	          <button type="submit">See more on this user...</button>
	        </form>
        </div>
	</div>
  </body>
</html> 