<!--  Olympia Axelou, May 2020
 This file is an HTML template of the project "A POI search engine using CassandraDB"
 It's used in the Django Project. So, it can't be run alone!
  -->
{% load static %}
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
  	<div class="s012">
      <div class="form">
        <div class="home_btn">
          <a href="/">Home</a>
        </div>
		{% if successfulInsert %}
			<h3>Review successfully inserted</h3>
			{% if createUser %}
				<h4>User successfully created</h4>
			{% endif %}
	        <div class="poi">
				<p><b>Name</b>: {{username}}<br>
				<b>Stars</b>: {{stars}}<br>
				<b>Review</b>: {{review}}<br></p>
				
				<form action="/user" method="get">
		          <input type="hidden" name="userid" value="{{userid}}">
		          <button type="submit">See more on this user...</button>
		        </form>
	        </div>
		{% else %}
			<h3>Review has not been inserted</h3>
			<p>The user does not exist & the box was not checked in order to create the user. 
			Go back if you want to change something in the form.</p>
		{% endif %}
	</div>
  </body>
</html> 